# Database connection settings for WordPress
WORDPRESS_DB_HOST=posgres
WORDPRESS_DB_PORT=5432                   # Default PostgreSQL port; replace if using a custom one
WORDPRESS_DB_NAME=realtydemo_sample_db
WORDPRESS_DB_USER=realtydemo_sample_db_user
WORDPRESS_DB_PASSWORD=realtydemo_sample_db_password

# WordPress debugging options
WORDPRESS_DEBUG=true                     # Set to true to enable WP_DEBUG
WORDPRESS_DEBUG_LOG=true                 # Set to true to enable WP_DEBUG_LOG
WORDPRESS_DEBUG_DISPLAY=true            # Set to true to display errors in the browser